*{
font-family: 'Open Sans', sans-serif;
line-height: 1.5;
}

h1{
	font-size: 60px;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/
@media only screen and (min-width:1200px){
    .col-lg-0{
        display: none!important;
    }
    .font-xs{
        font-size: 48px!important;
    }
}
/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/
@media only screen and (max-width:1199px) and (min-width:992px){
    .col-md-0{
        display: none!important;
    }
    .font-xs{
        font-size: 48px!important;
    }
}
/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/
@media only screen and (max-width:991px) and (min-width:768px){
    .col-sm-0{
        display: none!important;
    }
    .font-xs{
        font-size: 35px!important;
    }
}
/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media only screen and (max-width:767px){
    .col-xs-0{
        display: none!important;
    }
    .font-xs{
        font-size: 35px!important;
    }
}