#welcome{
    background-image: url('http://localhost/coachteen/public/images/webpage/1.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
}

/*First background*/

#secondBg{
    background-image: url('http://localhost/coachteen/public/images/webpage/2.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
}

.assets1{
    width: 35%;
}
/*For icons and other images used in the main page*/

.centerTitles{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
} 
/*Centers elements in a div*/

#welcomeImg{
    margin: auto;
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*For Coachteen's logo at the beginning of the page*/

#navBarItem{
    font-family: Bebas Neue;
    font-size: 2rem;
    color: gray;
    display: flex;
}
/*For the items in the page's navgation bar*/

#getStarted{
    background-color: #FFFFFF;
    color: #5B1B8D;
    font-family: Bebas Neue;
    size: 4rem;
}
/*For the "Get Started" button at the beggining of the page*/

.responsiveHeadlines{
    font-family: Bebas Neue;
    font-size: 3rem;
}
/*For the main titles*/

.responsiveHeadlines2{
    font-family: Bebas Neue;
    font-size: 4rem;
}
/*For smaller main titles*/

.responsiveSubtitles{
    font-family: Helvetica;
    font-size: 2rem;
}
/*For subtitles*/

.responsiveColumns{
    height: 500px;
}

@media (max-width: 576px) {
    .responsiveHeadlines { font-size: 2.25rem; }
    .responsiveHeadlines2 { font-size: 3.25rem; }
    #navBarItem, .responsiveSubtitles { font-size: 1.25rem; }
    #welcomeImg { width: 40%; }
    .assets1{ width: 10%; }
    .responsiveColumns { height: 800px; }
}
@media (max-width: 768px) {
    .responsiveHeadlines { font-size: 2.5rem; }
    .responsiveHeadlines2 { font-size: 3.5rem; }
    #navBarItem, .responsiveSubtitles { font-size: 1.5rem; }
    #welcomeImg { width: 50%; }
    .assets1{ width: 20%; }
    .responsiveColumns { height: 750px; }
}
@media (max-width: 992px) {
    .responsiveHeadlines { font-size: 2.75rem; }
    .responsiveHeadlines2 { font-size: 3.75rem; }
    #navBarItem, .responsiveSubtitles { font-size: 1.75rem; }
    #welcomeImg { width: 60%; }
    .assets1{ width: 30%; }
    .responsiveColumns { height: 700px; }
}
@media (max-width: 1200px) {
    .responsiveHeadlines { font-size: 3rem; }
    .responsiveHeadlines2 { font-size: 4rem; }
    #navBarItem, .responsiveSubtitles { font-size: 2rem; }
    #welcomeImg { width: 70%; }
    .assets1{ width: 40%; }
    .responsiveColumns { height: 650px; }
}